table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 3%;
}

td,
th {
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.bold {
  font-weight: bold;
}
img {
  box-shadow: 0px 0px 5px 2px #282a2d;
  border-radius: 50%;
}
