<diV>
  <div style="margin-top: 5%">
    <img src="../../assets/mca.jpg" alt="MCA" width="150" height="150" />
  </div>
  <table>
    <tr>
      <td class="bold">Class</td>
      <td>II MCA</td>
    </tr>
    <tr>
      <td class="bold">Batch</td>
      <td>2022 - 2024</td>
    </tr>
    <tr>
      <td class="bold">No. of Students</td>
      <td>57</td>
    </tr>
    <tr>
      <td class="bold">Class Room</td>
      <td>Mca Library</td>
    </tr>
    <tr>
      <td class="bold">Current Semester</td>
      <td>Third Semester</td>
    </tr>
  </table>
</diV>
