<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col-md-4 col-xl-3" style="margin-left: 5%">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Class</h6>
          <h2 class="text-right">
            <span>II MCA</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3" style="margin-left: 5%">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">No. of Students</h6>
          <h2 class="text-right">
            <span>57</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3" style="margin-left: 5%">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Current Semester</h6>
          <h2 class="text-right">
            <span>3</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
